<h1>Sign Up Below:</h1>


<form method="post" action="/registrations">
  
  <p><label for="name">Name: </label><input type="text" value="name" id="name"></p>
  <p><label for="email">Email: </label><input type="text" value="email" id="email"></p>
  <p><label for="password">Password: </label> <input type="text" value="password" id="password"></p>
  <input type="submit" value="Submit" id="submit">
</form>