<h1>Sign Up Below:</h1>


<form method="post" action="/registrations">
  
  <p><label for="name">Name: </label><input type="text" value="name" id="name"></p>
  <p><label for="name">Email: </label><input type="text" value="email" id="email"></p>
  
</form>